<div class="container login">
    <div class="row">
        <div class="col-4 bg-blue">
            <div class="flex-box">
                <div class="col-9 col-offset-1 lh-1">
                    <h3>Lorem Ipsum</h3>
                    <span class="small-txt">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span>
                </div>
            </div>
        </div>
        <div class="col-8 bg-white">
            <div class="flex-box">
                <div class="col-9 col-offset-1">
                    <h3>Login</h3>
                    <form>
                        <!-- <label>First Name</label>
                        <input type="text" name="firstName" class="form-control" placeholder="First Name" />
                        <label>Last Name</label>
                        <input type="text" name="firstName" class="form-control" placeholder="Last Name"/>
                        <label>Email</label>
                        <input type="email" name="firstName" class="form-control" placeholder="Enter Email"/>  -->
                        <label>Phone</label>
                        <input type="text" name="firstName" class="form-control" placeholder="Enter Phone"/>
                        <label>OTP</label>
                        <input type="text" name="firstName" class="form-control" placeholder="Enter OTP"/>
                        <button type="button" class="btn btn-primary mt-2 btn-lg">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="container flex-box">
    <div class="flex-1 bg-blue">
        <h3>Lorem Ipsum</h3>
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
    <div class="flex-2 bg-white">
        <h3>Lorem Ipsum</h3>
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
</div> -->